@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
  margin: 0;
  font-family: Questrial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background: white;
  filter: drop-shadow(0 0 10px #999);
}

#headerLogo {
  width: 100px;
  height: 100px;
  margin: 10px;
}

#mainContent {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}

#generateBtn {
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  transition: 0.1s;
  height: 300px;
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
}

#generateBtn:hover {
  transform: translate(0, -2px);
  filter: drop-shadow(0 0 2px gray);
}

#generateBtn:active {
  transform: translate(0, 2px);
  background-color: #eee;
}
