@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
  margin: 0;
  font-family: Questrial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background: white;
  box-shadow: 0 0 30px #999;
}

#headerLogo {
  width: 100px;
  height: 100px;
  margin: 10px;
}
